<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <title>Updating Data</title>
</head>
<body>
    <!-- <h1>Edit Data</h1> -->
    <div class="container-edit">
        <form action="" method="post">
            
                    <input type="text" class="column-edit" name="name" placeholder="insert your name" value = "<%= item.name %>">
            
                    <input type="text" class="column-edit" name="height" placeholder="insert your height" value = "<%= item.height %>">
            
                    <input type="text" class="column-edit" name="weight" placeholder="insert your weight" value = "<%= item.weight %>">
               
                    <input type="date" class="column-edit" name="birthdate" value = "<%= item.birthdate %>">
          
                    <select id="boolean" class="column-edit", name="boolean">
                        <option value="">have you married?</option>
                        <option value="true" <%= item.married === "true" ? 'selected' : '' %>>true</option>
                        <option value="false" <%= item.married === "false" ? 'selected' : '' %>>false</option>
                    </select>

                    <br>
         
                <input type="submit" class="button-save" value="Save"></input>
                <a href="/" class="button-cancel">cancel</a>
        </form>
    </div>
</body>
</html>